body {
    background-image: url(https://wallpapers.com/images/hd/4k-white-abstract-waves-i308ljad82204626.jpg);
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    margin-top: 13%;
    margin-left: 40%;
    scale: 1;
}

#signlink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.599);
    font-family: 'Monterrat';
    font-size: 18px;
}

#logintitle {
    text-align: center;
    font-family: 'Monterrat';
}

.formlogin {
    padding: 40px;
    position: fixed;
    translate: 0px;
    scale: 1;



}

.formsigin {
    padding: 40px;
    margin-left: 800px;
    translate: -400px;
    scale: 0;

}

.boxinpt {
    border-bottom: 2px black solid;
    padding: 10px;
    position: relative;
}

.inpt {
    border: none;
    background-color: transparent;
    font-family: 'Monterrat';
    outline: none;
}

.Remember {
    font-family: 'Monterrat';
    margin-right: 40px;
    margin: 20px 20px 0 0px;

}

#logbtn {
    margin: 20px;
    width: 300px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 550;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid #000000;
    transition: all 0.3s;
    cursor: pointer;
    background: #000000;
    color: white;
}

#logbtn:hover {
    background: #ffffff;
    color: #000000;
    font-size: 22px;
    box-shadow: 3px 3px 3px #414246;
}

.formlinks {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.599);
    font-family: 'Monterrat';
    font-size: 18px;
    float: right;
    margin: 20px 20px 0 0px;
}

#x {
    background-color: #000000;
    height: 50px;
    width: 50px;
    display: flex;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 11px;
    font-size: 2em;
    color: #ffffff;
    justify-content: center;
    overflow: hidden;
    border-radius: 0px 20px 0px 20px;
    padding: 10px;
    cursor: pointer;

}

#x:hover {
    background-color: #ffffff00;
    color: #000000;
    border: #000000 2px solid;
    background-color: #00000000;

}

.fa-x:hover {
    transform: rotate(-360deg);
    scale: 0.7;
    box-shadow: 20px 30px 50px rgb(0, 0, 0);
    background-color: #00000000;


}

.fa-x {
    width: 50px;
    transition: 500ms all;

}

#logbtn a {
    color: white;
    text-decoration: none;
}

#logbtn:hover>a {
    color: #000000;
}